# Dependencias
/node_modules/

# Builds de producción
/build
/dist

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp

# Coverage / pruebas
/coverage/
.nyc_output/
